<a href="https://colab.research.google.com/github/vedanthgaddi/2025-26-4097-Vedanth-AI-B-DS/blob/main/week3/allprogramsw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Download and save the dataset in the local drive
import pandas as pd
#url of dataset(sample csv dataset)
url="https://raw.githubusercontent.com/mwaskom/seaborn-data/refs/heads/master/iris.csv"
#read dataset from url
df=pd.read_csv(url)
#display first few rows
print(df.head())
#save dataset to local drive
df.to_csv("iris.csv",index=False)
print("dataset saved successfully")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
dataset saved successfully

In [ ]:
#List
superstore=["metro",'tesco','walmart','kmart','carrefour']
print(superstore)
number_list=[4,4,6,7,2,9,10,15]
mixed_list=['cat',87.23,65,[9,7,3,3]]
print(type(mixed_list))
#list operations
list1=[3,5,7,1]
list2=[2,4,6,8]
print(list1+list2) #list concartination
print(list1*3)
print(list1==list2)
#string to list
quote='Hello World'
string_to_list=list(quote)
print(string_to_list)
# list indexing, slicing
print(list1[:2])
print(list1[-2:])
print(5 in list1)
print(11 in list1)
#list built-in functions
cars=['BMW','Audi','Mercedes','Toyota']
print(len(cars))
print(max(number_list))
print(min(number_list))
print(sum(number_list))
print(sorted(list1))
print(sorted(list1,reverse=True))
#list methods
cars.append('Tesla')
print(cars)
cars.insert(2,'Ford')
print(cars)
cars.remove('Tesla')
print(cars)
cars.pop()
print(cars)
#Nested list
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
print(nested_list)
print(nested_list[1])
print(nested_list[1][2])

['metro', 'tesco', 'walmart', 'kmart', 'carrefour']
<class 'list'>
[3, 5, 7, 1, 2, 4, 6, 8]
[3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7, 1]
False
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
[3, 5]
[7, 1]
True
False
4
15
2
57
[1, 3, 5, 7]
[7, 5, 3, 1]
['BMW', 'Audi', 'Mercedes', 'Toyota', 'Tesla']
['BMW', 'Audi', 'Ford', 'Mercedes', 'Toyota', 'Tesla']
['BMW', 'Audi', 'Ford', 'Mercedes', 'Toyota']
['BMW', 'Audi', 'Ford', 'Mercedes']
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[4, 5, 6]
6

In [ ]:

#Tuples
a=(1,2,3,4,5)
b=(6,7,8,9,10)
print(a+b)
print(a*3)
print(1 in a)
print(11 in a)
print(a[1:4])
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
print(sorted(a))
print(sorted(a,reverse=True))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True
False
(2, 3, 4)
5
5
1
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
# SET OPERATIONS
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60}
print("Union using method:", s1.union(s2))
print("Intersection using method:", s1.intersection(s2))
print("Difference using method:", s1.difference(s2))
print("Symmetric difference using method:", s1.symmetric_difference(s2))

Union using method: {40, 10, 50, 20, 60, 30}
Intersection using method: {40, 30}
Difference using method: {10, 20}
Symmetric difference using method: {10, 50, 20, 60}